[Unit]
Description=Message your host name and your IP address info to a discord webhook
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/etc/wifinotify
ExecStart=/etc/wifinotify/run.sh

[Install]
WantedBy=multi-user.target
